.label {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.label h3 {
    font-size: 18px;
    font-weight: 400;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    line-height: 2;
    
}

.labels a {
    color: #818181;
    font-size: 16px;
    margin: 20px;
    border-bottom: 1px solid #999;
}

.labels a:hover{
    color: #111;
    border-bottom: 1px solid #111;
}